{
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-tag-spacing": ["error", {
      "closingSlash": "never",
      "beforeSelfClosing": "always",
      "afterOpening": "never",
      "beforeClosing": "never"
    }],
    "indent": ["error", 2, {
      "SwitchCase": 1
    }],
    "react/no-danger": "off",
    "react/jsx-sort-props": "off",
    "object-curly-spacing": ["error", "always"],
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "capitalized-comments": "off",
    "no-unused-expressions": ["error", {
      "allowShortCircuit": true
    }],
    "camelcase": "off",
    "no-negated-condition": "off",
    "complexity": "off",
    "semi": ["error", "always"]
  },
  "globals": {
    "window": true,
    "document": false,
    "Headers": false,
    "Image": true,
    "WebSocket": true,
    "fetch": true,
    "MutationObserver": true,
    "navigator": true
  }
}
